# Task 1

In [10]:
employee_pay = [15000, 120000, 35000, 45000]
count = 0
sum = 0

for index in range(0, len(employee_pay)):
    count += 1
    sum += employee_pay[index]
average = sum/count
print("the total payroll is : ", sum)
print("the average salary is : ", average)

the total payroll is :  215000
the average salary is :  53750.0

# Task 2

In [16]:
import random 
roomAssigned = [1]
room_number=1
groupList=["Ropes","Rafting","Obstacle","Wellness"]
count = 0

print("Welcome to companyPro's Team-Building Weekend!")
name = input ("Please enter your name (q to quit)?")
while name != 'q' and count < 50:
    while room_number in roomAssigned :
        room_number=random.randint(1,50)
   
    print(f"{name},your room number is {room_number}")
    roomAssigned.append(room_number)
    group = random.choice(groupList)
    print(f"You will meet with the {group} Groupt this afternoon")
    count += 1
    name = input("Please enter your name(q to quit)")

Welcome to companyPro's Team-Building Weekend!
Please enter your name (q to quit)?Valent
Valent,your room number is 22
You will meet with the Rafting Groupt this afternoon
Please enter your name(q to quit)Q
Q,your room number is 3
You will meet with the Ropes Groupt this afternoon
Please enter your name(q to quit)1.5
1.5,your room number is 5
You will meet with the Wellness Groupt this afternoon
Please enter your name(q to quit)Valent
Valent,your room number is 34
You will meet with the Ropes Groupt this afternoon
Please enter your name(q to quit)q

# Task 3

In [3]:
from random import randint
target = randint(1,10)
chance = 1
print(target)
print("Guess an interger from 1 to 10. You will have 3 chance.")
while chance <= 3:
    guess = int(input("Guess an interger : "))
    if guess > target:
        print("Guess is to high")
    elif guess < target:
        print("Guess is to low")
    else:
        print("Guess is just right")
        break
    chance += 1

9
Guess an interger from 1 to 10. You will have 3 chance.
Guess an interger : 2
Guess is to low
Guess an interger : 9
Geuss is just right

18

# Task 4

In [21]:
# the calc_power function calculates exponent
# x is the base
# y is the exponent
# the value of x raised to the y power is returned
def calc_power(x,y):
    comment = "#Return the value"
    return x ** y # raise x to the y power

In [22]:
calc_power(3,2)

9

# Task 5

In [1]:
from random import randrange
(print(randrange(0, 105, 5)))

20

# Task 6

In [7]:
age = input("Enter your age : ")
year = input("Enter the four-digit year : ")
born = eval(year) - eval(age)
massage = "You were born in " + str(born)
print(massage)

Enter your age : 20
Enter the four-digit year : 2022
You were born in 2002

In [4]:
print(type(age))
print(type(born))
print(type(massage))

<class 'str'>
<class 'int'>
<class 'str'>

# Task 7

In [10]:
# Function accepts list of words from a file
#  and letter to search for.
# Returns count of a particular letter in that list.
def count_letter(letter,word_list) :
    count = 0
    for word in word_list : 
        if word is letter :
            count += 1
        return count
word_list = []
    
# word_list is populated from a file.Code not the shown.
letter = input("Which letter would you like to count")
letter_count = count_letter(letter,word_list)
print("There are: ",letter_count,"Instances of "+letter)

Which letter would you like to countValent
There are:  None Instances of Valent

# Task 8

In [11]:
import datetime
d = datetime.datetime(2017,4,7)
print('{:%B-%d-%y}'.format(d))

April-07-17

# Task 9

In [12]:
value1 = 24
value2 = 7
value3 = 17.9

answer = (value1 % value2 *100) // 2.0**3.0-value2
print(answer)

30.0

# Task 10

In [20]:
name = input("Enter your name : ")

if name.lower() == name :
    print(name,"is all lower case")
elif name.upper() == name:
    print(name,"is all upper case.")
else:
    print(name,"is mixed case")

Enter your name : Valent
Valent is mixed case

# Task 11

In [2]:
def get_name():
    name = input("What is your name? ")
    return name

def calc_calories(miles, calories_per_mile):
    calories = miles * calories_per_mile
    return calories

distance = int(input("How Many miles did you bike this week? "))
burn_rate = 50
biker = get_name()
calories_burned = calc_calories(distance, burn_rate)
print(f"{biker}, you burned about {calories_burned} calories")

How Many miles did you bike this week? 20
What is your name? Valent
Valent, you burned about 1000 calories

# Task 12

In [6]:
def admission_fee(age,school):
    rate = 0
    if age >= 5 and school == True :
        rate = 10
    elif age >=5 and school == False :
        if age<= 17:
            rate = 20
        else :
            rate = 50
    return rate

# Task 13

In [7]:
sum = count = done = 0
avarage = 0.0
while done != -1:
    rating = float(input("Enter next rating (1-5, -1 to done)"))
    if rating == -1:
        break
    sum += rating 
    count += 1
average = float(sum / count)
print("The average star rating for the new coffee is : {}".format(average,".2f")) #2f yang memberi Anda pembulatan menjadi 2 desimal.

Enter next rating (1-5, -1 to done)1
Enter next rating (1-5, -1 to done)2
Enter next rating (1-5, -1 to done)5
Enter next rating (1-5, -1 to done)3
Enter next rating (1-5, -1 to done)4
Enter next rating (1-5, -1 to done)-1
The average star rating for the new coffee is : 3.0

# Task 14

In [1]:
def grosspay(hours=40,rate=25,pieces=0,piecerate=0,salary=0):
    overtime = 0
    if pieces > 0 :
        return pieces*piecerate
    if salary>0 :
        pass #Pass is an instruction to python that no code is executed, so python continues executing the program below it.
    if hours >40:
        overtime = (hours*40)*(1.5*rate)
        return overtime + (40*rate)
    else :
        return hours*rate

In [2]:
grosspay()

1000

In [3]:
grosspay(salary=5000)

1000

In [4]:
grosspay(pieces=500,piecerate=4)

2000

# Task 15

In [56]:
num = int(input("Enter a number with 1 or 2 digits: "))
digits = "0"
if num > -10 and num < 10 :
	digits = "1"
elif (num < -9 and num > -100) or (num>9 and num <100) :
	digits = '2'
else :
	digits = ">2"
print(digits+" digits")

Enter a number with 1 or 2 digits: -99
2 digits

# Task 16

In [57]:
x = "oranges"
y = "apples"
z = "bananas"
data = "{1} and {0} and {2}"
print(data.format(z,y,x))

apples and bananas and oranges